@font-face {
  font-family: PlayfairDisplay;
  src: url("font/PlayfairDisplay-Regular.ttf");
}

:root {
  cursor: url(images/cursor-default.png), auto;
}

body {
  margin: 0 10% 0 10%;
  font-family: PlayfairDisplay, serif;
  font-size: 3.2vw;
}

a,
a:visited,
a:active {
  color: #585a73;
  text-decoration: none;
  cursor: url(images/cursor-pointer.png), pointer;
}

a:hover {
  color: #000aff;
  text-decoration: none;
  cursor: url(images/cursor-pointer.png), pointer;
}

p.divider {
  text-align: center;
  font-size: 12vw;
  margin: 8% 0 8% 0;
}

p.contact {
  margin-bottom: 15%;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.spotify-playlists {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "q2-22 q2-22 q4-21 . . view-all"
    "q2-22 q2-22 . q3-20 q2-21 ."
    ". q1-22 q1-22 q3-21 . q4-20"
    ". q1-22 q1-22 . q1-21 .";
}

#q2-22 {
  grid-area: q2-22;
}

#q1-22 {
  grid-area: q1-22;
}

#q4-21 {
  grid-area: q4-21;
}

#q3-21 {
  grid-area: q3-21;
}

#q2-21 {
  grid-area: q2-21;
}

#q1-21 {
  grid-area: q1-21;
}

#q4-20 {
  grid-area: q4-20;
}

#q3-20 {
  grid-area: q3-20;
}

#view-all {
  grid-area: view-all;
}

@media only screen and (max-width: 550px) {
  .spotify-playlists {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "q2-22 q1-22 q4-21"
      "q3-21 q2-21 q1-21"
      "q4-20 q3-20 view-all";
  }

  body {
    max-width: 550px;
    margin: 0 5% 0 5%;
    font-size: 25px;
  }
}
