@font-face {
  font-family: Inria;
  src: url("font/InriaSerif-Light.ttf");
}
@font-face {
  font-family: Syne;
  src: url("font/Syne.ttf");
}

:root {
  cursor: url(images/cursor-default.png), auto;
}

body {
  margin: 0 10% 0 10%;
  font-family: Inria, serif;
  font-size: 3.2vw;
  color: #3e43b9;
  background-color: #f7f7ef;
}

a,
a:visited,
a:active {
  font-family: Syne, serif;
  font-weight: 800;
  font-size: 3.2vw;
  color: #3e43b9;
  text-decoration: none;
  cursor: url(images/cursor-pointer.png), pointer;
}

a:hover {
  color: #43b7a9;
  text-decoration: none;
  cursor: url(images/cursor-pointer.png), pointer;
}

p.divider {
  text-align: center;
  margin: 9% 0 9% 0;
}

p.contact {
  text-align: center;
  margin-bottom: 15%;
}

sup {
  font-size: 1.5vw;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.spotify-playlists {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "q2-22 q1-22 q4-21 q3-21"
    "q2-21 q1-21 q4-20 q3-20";
}

#q2-22 {
  grid-area: q2-22;
}

#q1-22 {
  grid-area: q1-22;
}

#q4-21 {
  grid-area: q4-21;
}

#q3-21 {
  grid-area: q3-21;
}

#q2-21 {
  grid-area: q2-21;
}

#q1-21 {
  grid-area: q1-21;
}

#q4-20 {
  grid-area: q4-20;
}

#q3-20 {
  grid-area: q3-20;
}

.mail {
  text-align: left;
  float: left;
}
.arena {
  float: right;
  text-align: right;
}
.tumblr {
  text-align: center;
}

p.about1 {
  transform-origin: top center;
  animation: swing 1.9s ease infinite;
}

p.about2 {
  transform-origin: top center;
  animation: swing 2.4s ease infinite;
}

p.about3 {
  transform-origin: top center;
  animation: swing 2.9s ease infinite;
}

@keyframes swing {
  20% {
    transform: rotate(1deg);
  }
  40% {
    transform: rotate(-3deg);
  }
  60% {
    transform: rotate(2deg);
  }
  80% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

p.music {
  animation: gelatine 0.7s infinite;
}
div.spotify-playlists,
sup {
  animation: gelatine 0.9s infinite;
}

@keyframes gelatine {
  from,
  to {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.97, 1.03);
  }
  50% {
    transform: scale(1.03, 0.97);
  }
  75% {
    transform: scale(0.97, 1.03);
  }
}

p.music-links {
  animation: bounce 1.5s ease infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

p.mail {
  animation: rotate 3.5s infinite;
  animation-timing-function: cubic-bezier(1, 0, 0.5, 1);
}

p.arena {
  animation: rotate 4.5s infinite;
  animation-timing-function: cubic-bezier(1, 0, 0.5, 1);
}

p.tumblr {
  animation: rotate 5.5s infinite;
  animation-timing-function: cubic-bezier(1, 0, 0.5, 1);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 550px) {
  .spotify-playlists {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "q2-22 q1-22 q4-21"
      "q3-21 q2-21 q1-21"
      "q4-20 q3-20 . ";
  }

  body {
    max-width: 550px;
    margin: 0 5% 0 5%;
    font-size: 25px;
    text-align: center;
  }

  a,
  a:visited,
  a:active {
    font-size: 21px;
  }
}
